{% load static %}
{% include 'partials/head.html' %}
<title>{%block title %}Kobra Python{% endblock %}</title>
</head>

<body id="bg-image">
    {% include 'partials/navbar.html' %}
    {% include 'partials/search.html' %}

    </div>
    </div>
    </nav>

    {% block messages %}
    <div class="d-inline-flex p-2 bd-highlight text-center"></div>
    {% endblock messages %}


<div class="container mt-1 mb-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="row row-cols-1 row-cols-md-3 g-4">
            </div>
        </div>
    </div>
</div>
</div>

    {% block dashboard %}
    <main class="container mt-4 mb-4 mt-2">
        <div class="row">
            <div class="col-lg-12">
                <div class="row row-cols-1 row-cols-md-3 g-4 mt-1 bg-light">
                    {% block conteudo %}
                    {% endblock conteudo %}                
                </div>
            </div>
        </div>
    </main>
    {% endblock dashboard %}

    {% include 'partials/footer.html' %}
    <script src="{% static '/global/js/scripts.js' %}"></script>
</body>

</html>