{% load static %}
<footer id="footerr" class="container mw-100 w-100 ms-0 ps-0 footer" style="width: 1200px  ;">

  <nav aria-label="Page navigation example">
    {% include 'posts/pagination.html' %}
    </nav>

        
      
      <nav class="nav nav-fill align-bottom container-fluid footer " id="footerlink" style="color: rgb(255, 122, 149) !important ;">
        <a target="_blank" id="footer-links" class="nav-link active"  href="https://www.djangoproject.com">Made with Django</a>
        <a target="_blank" id="footer-links2" class="nav-link active" href="https://github.com/SisouDev">By SisouDEV</a>
      </nav>
</footer>





<script src="{% static '/global/js/bootstrap.js' %}"></script>
<script src="https://kit.fontawesome.com/9e103595a5.js" crossorigin="anonymous"></script>