{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static '/global/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/global/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/global/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/global/fontawesome/css/fontawesome.css' %}">