{% extends 'base.html' %}
{% block title %} Home | Kobra Python {% endblock title %}


{% block messages %}

{% if messages %}
<div class="d-block-flex p-2 text-center">
    {% for message in messages %}
<div class="alert {{ message.tags }}">
         {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}

    {% block conteudo %}
        {% for post in posts %}
        {% include 'partials/post.html' %}
        {% empty %}
        <div class="container">
            <div class="row justify-content-center">
                <h1 style="font-size: 25px; border: 0.5px solid rgb(230, 107, 124); border-radius: 50%;" class="ps-5 ms-5 text-center">
                    Nothing Here.
                </h1>
            </div>
        </div>
        {% endfor %}
    
{% endblock conteudo %}
{% include 'pagination.html' %}
